

.button {
    height: 3vh;
    justify-content: baseline;
    border-radius: 5px;
    margin-left: 10px;
    vertical-align: bottom;
    margin-top:80%
  
}

.title {
    display: inline-block;
    text-decoration: underline;
    vertical-align: bottom ;
    margin-right: 9vw;
    margin-left: 9vw;

}

.wrapper-div {
    vertical-align: bottom
  }

  .logo {
      width: 200px;
      height: 100%
  }

  .avatar {
      background-color: purple !important;
  }